
<%- include('partials/header') %>
<%- include('partials/nav') %>
<%- include('partials/containerhead') %>

    <div class="about">
      <h2>About us</h2>
      <p>We are a premier quality management solutions provider for various industries. 
        We make quality products with you and your customer in mind.
      </p>
    </div>

<%- include('partials/containerl') %>
<%- include('partials/bottom') %>
<%- include('partials/footer') %>