
<%- include('partials/header') %>

<%- include('partials/nav') %>
<%- include('partials/containerhead') %>

    <div class="contact">
      <h2>Contact us</h2>
      <p>Find us using the following channels:</p>
      <ul>
        <li>+2547917288746</li>
        <li>qmsaas@main.co.ke</li>
      </ul>
    </div>

<%- include('partials/containerl') %>

<%- include('partials/bottom') %>
<%- include('partials/footer') %>