<%- include('partials/header') %>
<%- include('partials/nav') %>
<%- include('partials/containerhead') %>
    <h1 class="welcome-msg">Welcome to Quality Management Software as a service(QMSaas)</h1> 
<%- include('partials/containerl') %>
<%- include('partials/bottom') %>
<%- include('partials/footer') %>
